server {
  listen 80;
  listen [::]:80;

  root {{ nginx_web_root }};

  index index.php index.htm index.nginx-debian.html;

  server_name {{ nginx_server_name }};

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass {{ nginx_php_sock }};
  }

  location ~ /\.ht {
    deny all;
  }
}